* {
  margin: 0;
  padding: 0;
}
/*第一板块开始*/
a {
  text-decoration: none;
  color: #fff;
}

.nav_huo1 div h3 {
  line-height: 60px;
}
ul {
  list-style: none;
}

.nav_huo1 {
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: limegreen;
}
.banxin {
  width: 1100px;
  margin: auto;
}
.nav_huo1 > div {
  display: flex;
  justify-content: space-between;
}
.nav_huo1 ul li {
  float: left;
  margin-left: 36px;
}
.clearfix::after {
  content: "";
  display: block;
  height: 0;
  clear: both;
}
/*第一板块结束*/
/*第二板块开始*/
.nav_huo2 {
  width: 100%;
  height: 160px;
  line-height: 80px;
  background-color: #fff;
  margin: 0 auto;
}
.nav_huo2 .nav_huo2_1 .logo {
  width: 200px;
  height: 80px;
  float: left;
  margin-left: 50px;
}
.nav_huo2 .nav_huo2_1 input {
  border: 0;
  outline: none;
  border-radius: 3px 0 0 3px;
  width: 330px;
  height: 40px;
  border: 1px solid #e0e0e0;
  margin-left: 220px;
  padding: 0 10px;
  float: left;
  margin-top: 22px;
}
.nav_huo2 .nav_huo2_1 button {
  width: 70px;
  height: 40px;
  background-color: cornflowerblue;
  border: 0;
  outline: none;
  border-radius: 0 3px 3px 0;
  float: left;
  margin-top: 22px;
}
.nav_huo2 .nav_huo2_1 img {
  margin-left: 450px;
  border-radius: 50%;
  vertical-align: middle;
  height: 40px;
}
.nav_huo2 .nav_huo2_1 span {
  vertical-align: middle;
}


.nav_bar{
  width: 70%;
  margin: auto;
}
.nav_bar .nav_f{
  list-style:none;
  float: left;
  position: relative;
  display: inline-block;
}
.nav_bar .nav_f li{
  float: left;
  margin-left: 35px;
}
.nav_bar .nav_r{
  list-style:none;
  float: right;
}
.nav_bar .nav_r li{
  float: right
}
.nav_bar .nav_r li img{
  border-radius: 50%;
  vertical-align: middle;
  height: 40px;
} 
.nav_bar .nav_r li p{
  margin-left: 6px;
  margin-right: 35px;
  display: block;
}


/*第二板块结束*/
/*第三板块开始*/

.banner_huo3 .pic {
  width: 100%;
  height: 670px;
  position: relative;
  background-color: rgb(245, 245, 245);
}
.banner_huo3 img {
  width: 100%;
  height: 670px;
  display: inline-block;
}
.banner_huo3 .pic ul {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translate(-50px, -20px);
  width: 148px;
  display: flex;
  justify-content: space-between;
}
.banner_huo3 .pic ul li {
  width: 25px;
  height: 6px;
  background-color: #a8a8a8;
}
/*第三板块结束*/
/*第四板块开始*/
.special_huo4 {
  width: 100%;
  height: 300px;
  background-color: rgb(245, 245, 245);
}
.special_huo4 h1 {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 30px;
  font-size: 48px;
}
.donghua {
  width: 900px;
  margin: auto;
  overflow: hidden;
}
@keyframes move {
  0% {
  }
  100% {
    transform: translateX(-50%);
  }
}
.donghua_ul {
  width: 200%; /*200%就是父元素1000*2=2000*/
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  animation: 15s linear move infinite;
}
.donghua_ul:hover {
  /* 触发后让动画停止运行  paused暂停 running运行 */
  animation-play-state: paused;
}
.donghua_ul li {
  width: 15%;
  text-align: center;
  background-image: url(./images/suggest/01.jpg);
  opacity: 50%;
}
.donghua_ul li img {
  width: 80%;
}

/*第四板块结束*/
/*第五板块开始*/
.new_Arrival {
  width: 100%;
  height: 670px;
  background-color: rgb(245, 245, 245);
}
.new_Arrival h1 {
  text-align: center;
  /* margin-top: 175px; */
  font-size: 48px;
}
.up_line {
  height: 40px;
  width: 70%;
  margin: 0 auto;
  border-bottom: 1px solid #222;
  margin-bottom: 50px;
}
.new_kind{
     width: 80%;
     margin-left: 175px;
     background-color: rgb(245, 245, 245);
 }
.new_kind ul {
  display: flex;
  justify-content: space-between;
}
.new_kind ul li {
  width: 255px;
  height: 350px;
  background-color: #fff;
}
.new_huo5 {
  width: 48px;
  height: 22px;
  border-radius: 3px;
  margin: 5px 10px;
  background-color: greenyellow;
  float: left;
}
.aixin {
  color: red;
  float: right;
  margin-right: 15px;
  margin-top: 6px;
}
.new_kind img {
  width: 90%;
}
.wujiaoxin {
  color: orange;
  text-align: center;
}
.dazhejia {
  text-align: center;
}
.new_kind button {
  width: 70%;
  height: 30px;
  display: block;
  margin-left: 38px;
  background-color: rgb(232, 232, 232);
  border: 0;
  border-radius: 7px;
}
.new_kind button:hover {
  background-color: green;
}
.show_more {
  width: 200px;
  height: 60px;
  text-align: center;
  line-height: 60px;
  color: rgb(17, 151, 68);
  font-size: 22px;
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
  margin: 30px;
  margin-left: 43%;
}
.show_more:hover {
  color: floralwhite;
  background-color: rgb(17, 151, 68);
}

/*第五板块结束*/
/*第六板块开始*/
.huo_6 {
  width: 100%;
  height: 255px;
  position: relative;
}
.huo_6 img {
  width: 100%;
  height: 255px;
}
.huo_6 h1 {
  color: #fff;
  position: absolute;
  margin-left: 95px;
  margin-top: -150px;
  font-size: 36px;
}
.huo_6 input {
  width: 600px;
  height: 22px;
  position: absolute;
  margin-top: -162px;
  margin-left: 830px;
  padding: 20px;
  font-size: 22px;
  color: #fff;
  border-radius: 10px;
  border: 0;
  outline: none;
}
.huo_6 button {
  width: 225px;
  height: 42px;
  position: absolute;
  margin-top: -152px;
  margin-left: 1238px;
  font-size: 13px;
  color: #fff;
  background-color: royalblue;
  border-radius: 8px;
  border: 0;
  outline: none;
}
/*第六板块结束*/
/*第七板块开始*/
.huo_7{
  width: 100%;
  height: 280px;
  float: left;
  background-color: #f8fffa;
}
/* .huo_7 .huo_7_1{
    float: left;
} */
.huo_7 ul{
  list-style: none;
  margin-top: 60px;
  margin-left: 350px;
}
.huo_7  ul li{
  float: left;
  width: 20%;
}
.huo_7  ul li img{
  margin-left: 50px;
}
.huo_7  ul li h4{
  margin-top: 20px;
  margin-bottom: 20px;
}

/*第七板块结束*/
/*第八板块开始*/
.huo_8 {
  width: 100%;
  height: 720px;
  background-color: rgb(255, 255, 255);
}
.huo_8 ul {
  float: left;
  margin-left: 280px;
}
.huo_8 ul li img {
  width: 255px;
  margin-top: 45px;
  margin-bottom: 40px;
  float: left;
}
.huo_8 ul li {
  width: 20%;
  height: 510px;
  float: left;
}
.huo_8 ul li p {
  display: block;
  margin-left: 10px;
  margin-top: -20px;
}
.huo_8 ul li h1 {
  display: block;
  margin-top: 115px;
  margin-left: 20px;
  margin-bottom: 40px;
}
.huo_8 ul li div {
  margin-left: 30px;
}

.huo_8last {
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 80px;
}
.huo_8last .huo_8last_1{
  float: left;
  width: 75%;
  background-color: rgb(17, 151, 68);
  border-radius: 8px;
  margin-left: 200px;
}
.huo_8last .huo_8last_2{
  float: right;
  height: 80px;
  margin-right: 50px;
}

.huo_8last .huo_8last_2 img{
  margin-top: 22px;
  border-radius: 5px;
}
.huo_8last p {
  display: block;
  float: left;
  margin-top: 33px;
  margin-left: 50px;
  color: #fff;
  font-size: 12px;
}
